$btnColor: #212121;
$btnColorBg: #cfcfcf;

%btn {
  padding: 0;
  color: $btnColor;
  background-color: $btnColorBg;
  border-radius: var(--border-radius);
  border-style: unset;
  cursor: pointer;
}
