$btnColor: #212121;
$btnColorBg: #cfcfcf;

%link {
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;

  transition: color var(--transition-params);
}

%btn {
  padding: 0;
  color: $btnColor;
  background-color: $btnColorBg;
  border-radius: var(--search-form-border-radius);
  border-style: unset;
  cursor: pointer;
}

%btn-primary {
  @extend %btn;

  color: white;
  background-color: var(--color-accent);
}
