//
// Filter list
//

.filter-list {
  position: fixed;
  left: 0;
  top: var(--header-height);
  z-index: 9;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 15px;

  width: 100%;
  padding: 9px;

  font-size: 13px;
  text-transform: capitalize;
  background-color: white;
  border-bottom: 1px solid var(--color-gray-light);

  &--hidden {
    transform: translate(0, -100%);
  }
}

.filter-list {
  opacity: 0.9;
  transition: transform var(--transition-params),
    opacity var(--transition-params);

  &:hover,
  &:focus-visible {
    opacity: 1;
  }
}

.filter-list label {
  & input[type='checkbox'] {
    cursor: inherit;

    &:not([name='colors']) {
      margin-right: 5px;
    }

    & ~ span {
      display: block;
      white-space: nowrap;
    }
  }
}

.filter-list__item {
  position: relative;

  display: flex;
  align-items: center;
  user-select: none;

  & label {
    display: flex;
    align-items: center;
    line-height: 0;
    cursor: pointer;
  }

  &#safesearch {
    @media screen and (min-width: #{$bp-desktop}) {
      margin-left: 60px;
    }
  }
}

//
// Input[:number]
//

.filter-list input[type='number'] {
  @extend %input-no-spin-buttons;

  height: 30px;
  width: 50px;

  text-align: center;
  margin-left: 5px;
  padding: 0 7px 0 7px;

  color: inherit;
  border-radius: 7px;
  border: 1px solid var(--color-gray-light);
  outline: none;

  transition: border-color var(--transition-params);

  &:hover,
  &:focus-visible {
    border-color: var(--color-gray-darker);
  }
}

//
// Expander btn
//

.filter__expander {
  @extend %btn;

  display: flex;
  justify-content: center;
  align-items: center;

  height: var(--filter-expander-heigth);
  padding-left: 17px;
  padding-right: 17px;

  font-family: inherit;
  font-size: inherit;

  text-transform: capitalize;
  white-space: nowrap;

  border-radius: 20px;
  background-color: transparent;
  border: 1px solid var(--color-gray-light);
  outline: none;

  transition: background-color var(--transition-params);

  &::after {
    content: '▾';
    font-size: 20px;
    margin-left: 5px;
  }

  &:hover,
  &:focus-visible,
  &--expanded {
    background-color: var(--color-gray-lighter);
  }
}

.filter__expander--expanded ~ .filter__menu {
  display: block;
}

.filter__clear {
  display: none;

  margin-right: 7px;
  font-size: 18px;
  transition: color var(--transition-params);

  &:hover,
  &:focus-visible {
    transform: scale(1.2);
    color: var(--color-accent);
  }
}

.filter__menu {
  position: absolute;
  top: var(--filter-expander-heigth);
  z-index: 10;

  display: none;

  padding: 12px;
  background-color: var(--color-header-bg);
  border: 1px solid rgba(white, 0.2);

  &--hidden {
    display: none;
  }
}

.filter__options {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 5px;

  color: var(--color-gray-lighter);
}

//
// Color palette
//

.filter__options[name='colors'] {
  display: flex;
  flex-direction: row;
}

.filter__options[name='colors'] input[value] {
  &:not([value='grayscale']):not([value='transparent']) {
    appearance: unset;

    display: block;
    width: 15px;
    height: 15px;

    border: 1px solid var(--color-gray-light);
    outline: 1px solid var(--color-gray-light);

    &:hover,
    &:focus-visible {
      outline: 1px solid var(--color-accent);
    }

    &:checked {
      outline: 3px solid var(--color-accent);
    }

    & ~ span {
      display: none;
    }
  }
}

.filter__option#grayscale {
  margin-bottom: 10px;
}

//
// Apply button
//

.filter__menu button[name='applyFilter'] {
  @extend %btn-primary;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 22px;
  margin-top: 10px;

  border-radius: 7px;
  transition: filter var(--transition-params);

  &:hover {
    filter: brightness(1.1);
  }
}
