.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;

  display: flex;
  align-items: center;

  width: 100%;
  height: var(--header-height);

  background-color: var(--color-header-bg);
  transition: opacity var(--transition-params);

  &--translucent {
    opacity: 0.8;
  }
}

.header:focus-within {
  opacity: 1;
}
