.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;

  width: 100%;
  height: var(--header-height);

  background-color: var(--color-header-bg);
  transition: transform var(--transition-params);

  &--hidden {
    transform: translate(0, -100%);
  }

  // пож этот будет заезжать media-filter
  &__container {
    position: relative;
    left: 0;
    top: 0;
    z-index: inherit;

    display: flex;
    align-items: center;
    justify-content: center;

    width: inherit;
    height: inherit;
    background-color: inherit;
  }
}

.toggle-media-filter {
  @extend %btn;

  color: white;
  background-color: transparent;

  opacity: 0.7;
  transition: opacity var(--transition-params);

  &:hover,
  &:focus-visible {
    opacity: 0.9;
  }

  & svg {
    width: 50px;
    height: 50px;
    fill: currentColor;
  }
}
