.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;

  display: flex;
  align-items: center;

  width: 100%;
  height: var(--header-height);

  background-color: var(--color-header-bg);
  transition: transform var(--transition-params);

  &--hidden {
    transform: translate(0, -100%);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.toggle-media-filter {
  @extend %btn;

  color: white;
  background-color: transparent;

  opacity: 0.7;
  transition: opacity var(--transition-params);

  &:hover,
  &:focus-visible {
    opacity: 0.9;
  }

  & svg {
    width: 50px;
    height: 50px;
    fill: currentColor;
  }
}
