$colorFilterBtnBg: gray;
$colorFilterBtnBorder: gray;

.filter {
  position: fixed;
  left: 0;
  top: var(--header-height);
  z-index: 9;

  width: 100%;
  padding: 9px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 10px;

  font-size: 13px;
  text-transform: capitalize;
  background-color: white;
  border-bottom: 1px solid rgb(231, 231, 231);

  transition: transform var(--transition-params);

  &--hidden {
    transform: translate(0, -100%);
  }
}

.filter__item {
  display: flex;
  user-select: none;
}

.filter__expander {
  @extend %btn;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 35px;
  padding-left: 20px;
  padding-right: 20px;

  text-transform: inherit;
  font-family: inherit;
  font-size: inherit;

  border-radius: 20px;
  background-color: rgb($colorFilterBtnBg, 0);
  border: 1px solid rgb($colorFilterBtnBorder, 0.3);

  transition: background-color var(--transition-params);

  &::after {
    content: '▾';
    font-size: 20px;
    margin-left: 5px;
  }

  &:hover,
  &:focus-visible,
  &[expanded] {
    background-color: rgb($colorFilterBtnBg, 0.2);
  }
}

.filter__options {
  // &--hidden {
  //   display: none;
  // }

  & label {
    display: flex;
    align-items: center;
    line-height: 0;
    cursor: pointer;
  }

  & input {
    margin-right: 5px;
    cursor: inherit;
  }
}

// .filter-menu__link,
// .filter-menu button[type='submit'] {
//   @extend %link;

//   padding: 4px;
//   padding-left: 10px;
//   padding-right: 10px;

//   color: var(--color-accent);
//   border-radius: 10px;
//   border-style: unset;
//   background-color: unset;

//   transition: background-color var(--transition-params);

//   &:hover,
//   &:focus-visible {
//     background-color: rgb(236, 236, 236);
//   }
// }

// .filter__options {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-wrap: wrap;
//   gap: 10px;
// }

.filter__item button[name='applyFilter'] {
  @extend %btn-primary;
  width: 40px;
  height: 20px;
  border-radius: 5px;
}

// стилизуем все, кроме grayscale и transparent
.filter__options[name='colors'] input[name] {
  &:not([name='grayscale']):not([name='transparent']) {
    appearance: unset;

    display: block;
    width: 15px;
    height: 15px;

    border: 2px solid rgb(255, 255, 255);
    outline: 1px solid rgb(206, 206, 206);

    &:hover,
    &:focus-visible {
      outline: 1px solid var(--color-text);
    }

    &:checked {
      outline: 2px solid var(--color-text);
    }
  }
}
