//
// sass vars
//
$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;

//
// css vars
//
:root {
  --color-accent: rgb(3, 163, 255); // rgb(38, 192, 211)
  --color-header-bg: #24292f;

  --header-height: 60px;
  --search-form-border-radius: 10px;
  --search-form-width: 400px;

  --search-input-outline-width: 1.5px;
  --search-input-outline: 0px 0px 0px var(--search-input-outline-width)
    var(--color-accent);

  --search-input-height: 75%;
  --search-input-padding: 15px;
  --search-input-padding-right: calc(
    var(--search-btn-width) + var(--search-btn-celar-width) +
      var(--search-btn-celar-width) / 2
  );

  --search-btn-width: 50px;
  --search-btn-scale: 1;

  --search-btn-clear-width: 28px;
  --search-btn-clear-offset: 5px;
  --search-btn-clear-right: calc(
    var(--search-btn-width) + var(--search-btn-clear-offset)
  );

  --transition-params: ease-out 250ms;
  --loader-padding-top: 50px;

  --gallery-items-gap: 10px;
  --gallery-items-per-row: 1;

  --container-padding: 40px;
}
